input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

.master-bedroom-type-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}