.radio-button-text {
  cursor: pointer;
  user-select: none;
}
.radioButtons__container {
  padding: 25px;
}
.radioButton {
  display: inline-block;
}

@media (max-width: 450px) {
  .radioButtons__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .radioButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
}
