.aiden__inspired__text__area {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(197, 197, 197);
  font-family: "Lato", sans-serif;
  width: 300px;
  height: 150px;
}

/* From time to time, there arise among human beings, people,
Who seem to exude love, as naturally as the sun, gives out heat */
